ARE YOU SURE!??!??!?!??

<form action="/cuisine_delete/@Model.GetId()" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit" name="yes">DOOO IT</button>
</form>
