<h2>@Model.GetName()</h2>
<p><a href="cuisine/edit/@Model.GetId()">Edit this cuisine name</a></p>

<br>
<p>Enter your favorite @Model.GetName() restaurants!</p>

<form class="restaurant" action="/add_eats" method="post">
  <input type="hidden" name="cuisine_id" value="@Model.GetId()">
  <input type="text" name="restaurant">
  <button type="submit" name="button">add new restaurant</button>
</form>

<a href="/delete_all">Delete All Cuisines</a>
