<h1>welcome to restaurant Indexer</h1>
<form class="cuisine" action="/cuisine" method="post">
  <p>what kind of cuisine do you want to add?</p>
  <input type="text" name="cuisine" value="">
  <button type="submit" name="button">submit</button>
</form>
