<ol>
@foreach (var restaurant in @Model)
{
  <form action="/restaurant/delete/@restaurant.GetId()" method="post">
    <li>@restaurant.GetName()</li>
    <li>@restaurant.GetDescription()</li>
    <li>@restaurant.GetPhoneNumber()</li>
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit" name="delete">FUCKING TIGHT</button>
  </form>
}
</ol>
<a href="/show_all">show all cuisines</a>
