<ol>
@foreach (var restaurant in @Model)
{
  <form class="" action="/restaurant/delete/@restaurant.GetId()" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <li>@restaurant.GetName() <button type="submit" name="button">destroy</button></li>
  </form>
}
</ol>
